<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <title>Credit Offer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div align="center">
    <h1>Credit Offer</h1>
    <h3><a href="/credit-offer/client?id={{#client}}{{id}}{{/client}}">Back </a></h3>
    <form action="/credit-offer/create/save" method="post" modelattribute="creditOffer">
        {{#client}}
            <input readonly type="hidden" name="client" value="{{id}}"><br>
        {{/client}}
        <label>Choose credit</label><br>
        <select name="credit" id="id"><br>
            {{#credits}}
                <option value="{{id}}">{{name}}</option>
            {{/credits}}
        </select><br>
        <label>Enter Loan Amount</label><br>
        <input type="number" name="loanAmount"  min="1" placeholder="10000" required><br>
        <label>Enter Loan Term Year</label><br>
        <input type="number" name="loanTermYear" min="1" max="30" step="1" placeholder="3" required><br>
<!--        <label>Enter Start Date</label><br>-->
<!--        <time><input type="date" name="startDate" value="2021-01-10" required></time>><br>-->
        <button type="submit">Create</button>
    </form>

</div>
</body>
</html>


