<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <title>Credits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
table {
  border-collapse: collapse;
  width: 50%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}
</style>
</head>
<body>
<div align="center">
    <h1>Credits</h1>
    <h3><a href="/">Back </a></h3>
    <h3><a href="/credit/create">New Credit</a></h3>
    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Credit Limit</th>
            <th>Interest Rate</th>
            <th>Action</th>
        </tr>
        {{#creditList}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{creditLimit}}</td>
                <td>{{interestRate}}</td>
                <td>
                    <a href="/credit/update?id={{id}}">Edit</a>
                    <a href="/credit/delete?id={{id}}">Delete</a>
                </td>
            </tr>
        {{/creditList}}

    </table>
</div>
</body>
</html>